*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
}
body {
    margin: 0;
    background-color: #3dc4de30;
}
hr {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
    border-width: thin 0 0 0;
    transition: inherit;
}
/* Стили для тега <a> */
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #5d9eff;
}
/* Сетка */
.container {
    background-color: #ffffff78;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.row-padding {
    padding: 20px;
}
.col {
    padding: 0 10px;
    flex-grow: 1;
}
[class*='col-'] {
    padding: 0 10px;
    flex: 0 0 auto;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666666666666%;
}
.col-10 {
    width: 83.33333333333334%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666666666666%;
}
.col-7 {
    width: 58.333333333333336%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666666666667%;
}
.col-4 {
    width: 33.33333333333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.666666666666664%;
}
.col-1 {
    width: 8.333333333333332%;
}
@media(min-width: 768px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }
}
@media(min-width: 992px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666666666666%;
    }
    .col-lg-10 {
        width: 83.33333333333334%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666666666666%;
    }
    .col-lg-7 {
        width: 58.333333333333336%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666666666667%;
    }
    .col-lg-4 {
        width: 33.33333333333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.666666666666664%;
    }
    .col-lg-1 {
        width: 8.333333333333332%;
    }
}
@media(min-width: 1200px) {
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-11 {
        width: 91.66666666666666%;
    }
    .col-xl-10 {
        width: 83.33333333333334%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666666666666%;
    }
    .col-xl-7 {
        width: 58.333333333333336%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666666666667%;
    }
    .col-xl-4 {
        width: 33.33333333333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.666666666666664%;
    }
    .col-xl-1 {
        width: 8.333333333333332%;
    }
}

.justify-content-center {
    justify-content: center;
}

@media(max-width: 767px) {
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
}

/* Padding/Margin */
.p-0 {
    padding: 0rem;
}
.p-1 {
    padding: 0.25rem;
}
.p-2 {
    padding: 0.5rem;
}
.p-3 {
    padding: 1rem;
}
.p-4 {
    padding: 1.5rem;
}
.p-5 {
    padding: 3rem;
}
.pb-0 {
    padding-bottom: 0rem;
}
.pb-1 {
    padding-bottom: 0.25rem;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pb-3 {
    padding-bottom: 1rem;
}
.pb-4 {
    padding-bottom: 1.5rem;
}
.pb-5 {
    padding-bottom: 3rem;
}
.pt-0 {
    padding-top: 0rem;
}
.pt-1 {
    padding-top: 0.25rem;
}
.pt-2 {
    padding-top: 0.5rem;
}
.pt-3 {
    padding-top: 1rem;
}
.pt-4 {
    padding-top: 1.5rem;
}
.pt-5 {
    padding-top: 3rem;
}
.m-0 {
    margin: 0rem;
}
.m-1 {
    margin: 0.25rem;
}
.m-2 {
    margin: 0.5rem;
}
.m-3 {
    margin: 1rem;
}
.m-4 {
    margin: 1.5rem;
}
.m-5 {
    margin: 3rem;
}
.mb-0 {
    margin-bottom: 0rem;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mb-5 {
    margin-bottom: 3rem;
}
.mt-0 {
    margin-top: 0rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.mt-5 {
    margin-top: 3rem;
}
/* Divider */
.divider {
    width: 100%;
    height: 2px;
    background: #99a2a3;
    margin: 15px 0;
}
.divider_footer {
    height: 4px;
    background: linear-gradient(to right, transparent 0%, #99a2a3 50%, transparent 100%);
}
/* Display */
.hidden {
    display: none;
}
.inline-block {
    display: inline-block;
}
/* Text */
.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px #9a390a;
    font-size: 1rem;
    background-color: #fff;
}
.text-error {
    color: #ff0000;
    font-size: 0.9em;
}
.text-correct {
    color: #00ff00;
    font-size: 1em;
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-yellow {
    color: yellow;
}
/* Button */
.btn-list {
    width: 40px;
    background-color: transparent;
    border: none;
    color: #ccf5ff;
    font-size: 1.3em;
    font-weight: bold;
}
.btn-list:hover {
    text-shadow: 0 0 8px rgb(204, 245, 255);
}
.btn-register {
    height: 40px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border-width: 0;
    background-color: #408DD2;
    padding: 5px 15px;
    border-radius: 10px;
    transition: background-color 100ms ease, box-shadow 100ms ease;
}
.btn-register:hover {
    background-color: #679FD2;
    box-shadow: 0 0 8px #679FD2;
}
.btn-register:active {
    background-color: #fff;
    box-shadow: inset 0 0 4px #679FD2;
    color: #679FD2;
}
/* Main header */
main {
    height: 100%;
}
/* Footer */
.footer {
    background-color: rgb(12, 34, 53);
    color: #ccf5ff;
}
.footer ul {
    list-style: none;
    padding: 0px;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    text-decoration: none;
    color: #ccf5ff;
}
.footer ul li a:hover {
    text-decoration: underline;
}
.footer .footer_author {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;
}
/* Menu */
.navigation {
    padding: 0;
    min-height: 50px;
}
.navigation nav {
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 100%;
    background: rgb(12, 34, 53);
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    list-style: none;
}
nav a {
    text-decoration: none;
    padding: 1em;
    cursor: pointer;
    color: #ccf5ff;
}
nav a:hover {
    box-shadow: 0 0 8px rgb(204, 245, 255);
    color: #d7f6fd;
}
nav a:active {
    color: #d7f6fd;
    text-shadow: 0 0 1px #d7f6fd;
}
/* Navbar */
.navigation > .list-menu-container {
    display: flex;
    position: fixed;
    top: 0px;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    z-index: 500;
}
.navigation > .list-menu-container.show_menu {
    animation: showMenu 500ms ease;
}
.navigation > .list-menu-container.hide_menu {
    animation: hideMenu 500ms ease;
}
.navigation > .list-menu-container > .list-menu-empty {
    flex-grow: 1;
    flex-shrink: 5;
    height: 100%;
}
.list-menu-items {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.list-menu-items ul {
    list-style: none;
    padding: 0;
}
.list-menu-items > .list-menu-item-container > li {
    position: relative;
}
.list-menu-items > .list-menu-item-container > li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 20px;
}
.list-menu-items > .list-menu-item-container > li  ul {
    width: 170px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
@keyframes showMenu {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}
@keyframes hideMenu {
    from {
        left: 0px;
    }
    to {
        left: -200px;
    }
}
/* slider  */
.slider {
    position: relative;
    background-color: rgba(0, 0, 0, 0.349);
}
.slider .slider_item {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
}
.slider_item.active {
    display: block;
}
.slider .slick {
    list-style: none;
}
.slider .slick {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.slick li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.slick li.active {
    opacity: 1;
}
.slider .slider_item h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px black;
    z-index: 10;
    position: absolute;
    width: 100%;
}
.slider .slider_item p {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px black;
    z-index: 10;
    position: absolute;
    width: 100%;
}
.slider .slider_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width: 776px) {
    .slider {
        height: 250px;
    }
    .slider .slider_item h1 {
        font-size: 25px;
        top: 30%;
        letter-spacing: 1px;
    }
    .slider .slider_item p {
        font-size: 18px;
        top: 50%;
    }
}
@media(min-width: 777px) {
    .slider {
        height: 400px;
    }
    .slider .slider_item h1 {
        font-size: 30px;
        top: 35%;
    }
    .slider .slider_item p {
        font-size: 20px;
        top: 50%;
    }
}
@media(min-width: 992px) {
    .slider {
        height: 650px;
    }
    .slider .slider_item h1 {
        font-size: 35px;
        top: 40%;
    }
    .slider .slider_item p {
        font-size: 20px;
        top: 50%;
    }
}
/* Стрелки влево, вправо */
@media(max-width: 991px) {
    .slider .next, .slider .prev {
        background: rgba(0, 0, 0, .1);
    }
}
@media(min-width: 992px) {
    .slider .next, .slider .prev {
        background: rgba(0, 0, 0, .0);
    }
}
.slider .next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.slider .prev {
    position: absolute;
    top: 0;
    bottom: 0;
}
.slider .next, .slider .prev {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: #ffffff;
    text-align: center;
    opacity: 0.6;
    transition: opacity .15s ease, background .15 ease;
}
.slider .next:hover, .slider .prev:hover {
    opacity: 0.9;
    background: rgba(0, 0, 0, .6);
}
.slider i {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
}
.slider .next i.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.slider .prev i.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
/* news */
@media(min-width: 577px) {
    .news_title {
        text-decoration: underline;
        color: #9a390a;
        position: relative;
    }
    .news > [class*="col-"] {
        display: flex;
        flex-direction: row;
    }
    .news_content {
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
                    0 2px 2px 0 rgb(0 0 0 / 14%),
                    0 1px 5px 0 rgb(0 0 0 / 12%);
    }
    .news .news_content {
        padding: 0px 10px;
        border-left: 3px solid #11849b30;
        min-height: 250px;
        width: 100%;
    }
    .news .news_content .news_text {
        max-height: 150px;
        overflow: auto;
    }
    .news .news_content .news_text p {
        padding: 0 10px;
    }
    .news .news_content .news_text > p:last-child {
        margin-bottom: 0px;
    }
    .news .news_img {
        min-width: 300px;
        max-width: 300px;
        height: 250px;
        background-color: transparent;
    }
    .news .news_img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 15%;
        border-top-left-radius: 15%;
    }

}
@media(max-width: 576px) {
    .news > [class*="col-"] {
        display: flex;
        flex-direction: column;
    }
    .news .news_img {
        width: 100%;
        height: 250px;
        background-color: transparent;
    }
    .news .news_img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0%;
        border-top-right-radius: 15%;
        border-top-left-radius: 15%;
    }
    .news .news_content {
        border-left: none;
        border-top: 3px solid #11849b30;
        min-height: 150px;
    }
}
/* Article */
.article {
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
}
.article_main_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Catalog */
.catalog > [class*="col-"] {
    display: flex;
    flex-direction: column;
    border-right: 4px solid #11849b30;
}
.catalog > [class*="col-"]:nth-child(4n),
.catalog > [class*="col-"]:last-child {
    border-right: none;
}
.catalog .catalog_img {
    width: 100%;
    height: 200px;
}
.catalog .catalog_img img{
    display: block;
    background-color: #99a2a3;
    border-radius: 5%;
}
@media(max-width: 576px) {
    .catalog .catalog_img {
        height: 130px;
    }
}
/* Filter */
.catalog_filter {
    background: rgb(12, 34, 53);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #66b5c3;
    max-width: 350px;
}
.filter_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.filter_title h4 {
    margin: 0;
    color: #ccf5ff;
}
.filter > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.filter p {
    color: #ccf5ff;
}
.filter button {
    height: 2em;
    width: 100%;
}
.filter_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccf5ff;
}
.filter_input input {
    width: 40%;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}
.filter_input input:focus {
    box-shadow: 0 0 5px #fff;
}
.filter_title button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 14px;
    color: yellow;
}
.filter_title button:hover {
    text-decoration: underline;
}
/* form_search */
.form_search input::-webkit-input-placeholder {
    color: rgb(12, 34, 53);
    font-style: italic;
}
.form_search input:-moz-placeholder {
    color: rgb(12, 34, 53);
    font-style: italic;
}
.form_search input:-ms-input-placeholder {
    color: rgb(12, 34, 53);
    font-style: italic;
}
.form_search {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.form_search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid rgb(12, 34, 53);
    border-radius: 5px;
    outline: none;
    background: #f4f5f6;
    color: rgb(12, 34, 53);
}
.form_search button {
    position: absolute;
    top: 0;
    right: 0px;
    height: 42px;
    border: none;
    color: #f4f5f6;
    background: rgb(12, 34, 53);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/* Table */
.table-container {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: auto;
}
.table-container table {
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}
.table-container th, .table-container td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.table-container th, .table-container td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.table-container td {
    background: #d8e6f3;
}
.table-container th:first-child, .table-container td:first-child {
    text-align: left;
}
/* Gallery */
.gallery_list {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}
.gallery_list_img {
    border-radius: 2%;
    background: #99a2a3;
    padding: 5px;
    margin-bottom: 10px;
    height: 250px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.1s ease;
}
.gallery_list_img.active {
    opacity: 1;
}
.gallery_list_img:hover {
    opacity: 1;
}
.gallery_list_img:last-child {
    margin-bottom: 0px;
}
.gallery_list_img img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery_view {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery_view_block {
    width: 100%;
    position: relative;
}
.gallery_view_block img {
    display: block;
    position: absolute;
    background: #99a2a3;
}
.gallery_view_block > .active_img {
    animation: seekImg 1s ease;
}
.gallery_view_block > .delete_img {
    animation: hideImg 1s ease;
}
@keyframes seekImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hideImg {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media(max-width: 767px) {
    .gallery {
        height: auto;
    }
    .gallery_list {
        flex-direction: row;
        height: 260px;
        margin-bottom: 1rem;
    }
    .gallery_list_img {
        flex: none;
        width: 33%;
        margin: 0 5px;
    }
    .gallery_view_block {
        height: 350px;
    }
}
@media(max-width: 650px) {
    .gallery_list {
        height: 200px;
    }
    .gallery_list_img {
        flex: none;
        width: 50%;
        margin: 0 5px;
    }
    .gallery_view_block {
        height: 300px;
    }
}
@media(min-width: 768px) {
    .gallery {
        height: 650px;
    }
    .gallery_list {
        flex-direction: column;
        height: 600px;
    }
    .gallery_list_img {
        width: 100%;
    }
    .gallery_view_block {
        height: 600px;
    }
}
/* Register */
.register {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/plane.jpg");
    background-position: center;
    background-size: cover;
}
.register_block {
    min-height: 400px;
    width: 400px;
    background: #394563;
    border-radius: 10px;
    color: #fff;
}
.register_block div > p:only-child {
    font-size: 1.1em;
}
.register_block input {
    padding: 2px 8px;
    height: 2em;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
}
.register_block input:focus {
    box-shadow: 0 0 8px #fff;
}
.register_block div[class*='col-8'] {
    position: relative;
    padding-right: 50px
}
.register_block .text-error {
    position: absolute;
    left: calc(100% - 40px);
    top: 0;
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #394563;
    z-index: 100;
}
.register_block .text-correct {
    position: absolute;
    left: calc(100% - 40px);
    top: 0;
}
.register .register_block .pos-relative {
    position: relative;
    left: auto;
    margin: 0 auto;
} 
@media(max-width: 576px) {
    .register_block {
        width: 350px;
    }
}
.size-window {
    position: absolute;
    top: 0;
    right: 0;
    color: #d7f6fd;
    padding: 0 10px;
}